<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#"><img src="assets/nerdflix.png" class="navbar-brand" height="75"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lançamentos</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>

<div class="container-cards" *ngFor="let item of data; let i = index;">
    <h1>Lançamento</h1>
    <div *ngIf="showMovie.index == i"> TESET </div>
    <div class="scrolling-wrapper">
        <div class="card-item" *ngFor="let movie of item" (click)="selected(i, movie)">
            <img src="assets/example.jpeg">
        </div>
    </div>
</div>